$general-red-color : #bb3939;
@mixin clipPath($property) {
  -webkit-clip-path: $property;
  -o-clip-path: $property;
  -moz-clip-path: $property;
  -ms-clip-path: $property;
  clip-path: $property;
}
@mixin animation($property) {
  -webkit-animation: $property;
  -moz-animation: $property;
  -ms-animation:$property;
  -o-animation: $property;
  animation: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  -moz-transition: $property;;
  transition: $property;
}
#dhaly-aboutus-ourwork-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #221f1f;
  .dhaly-aboutus-ourwork-content-wrap {
    width: 100%;
    height: 100%;
    .dhaly-aboutus-ourwork-container {
      height: 100%;
    }
  }
}
.dhaly-aboutus-container, .dhaly-ourwork-container {
  position: relative;
  z-index: 1;
}
.dhaly-aboutus-row {
  //padding: 5rem;
  background: $general-red-color;
}
.dhaly-aboutus-col06 {
  padding: 3rem;
}
.dhaly-aboutus-text-holder {
  padding-right: 2rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
}
.dhaly-aboutus-img-holder {
  position: absolute;
  z-index:0;
  width: 100%;
  height: 100%;
  background: transparent;
  img {
    position: absolute;
    left: 0;
    top: -15%;
    z-index: 1;
    @include transform(translate(-0%, -0%));
  }
}
.dhaly-aboutus-text-header {
  position: relative;
  width: 100%;
}
.dhaly-aboutus-text-header {
  @extend %header-class;
  color: #fff !important;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  padding-bottom: 1rem;
}
.dhaly-aboutus-text-content {
  @extend %paragraph-class;
  color: #fff !important;
}
.dhaly-aboutus-bottom-right-icon {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
.dhaly-aboutus-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

.dhaly-ourwork-row {
  position: relative;
  margin-top: 80px;
}
.dhaly-ourwork-header-col-12 {
  position: relative;
  margin-bottom: 50px;
}
.dhaly-ourwork-header-div {
  position: relative;
  text-align: center;
  h1 {
    @extend %header-class;
    margin-bottom: 10px;
  }
  .dhaly-ourwork-downward-arrow {
    position: relative;
    cursor: pointer;
    top: 0px;
    @include animation(backAndForth 0.9s infinite);
  }
}
.dhaly-ourwork-downward-arrow:hover {
  animation-play-state: paused;
}

@-webkit-keyframes backAndForth {
  0% {
       top: 0px;
     }
  50% {
    top: 5px
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes backAndForth {
  0% {
    top: 0px;
  }
  50% {
    top: 5px
  }
  100% {
    top: 0px;
  }
}
@keyframes backAndForth {
  0% {
    top: 0px;
  }
  50% {
    top: 5px
  }
  100% {
    top: 0px;
  }
}
.dhaly-ourwork-logo-holder {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
  @include transform(all 0.3s ease-in-out);
  img {
    position: absolute;
    z-index: 0;
    @include transition(all 0.3s ease-in-out);
  }
  .dhaly-ourwork-img {
    z-index: 1;
    opacity: 1;
  }
  .dhaly-ourwork-gif {
    z-index: 0;
    opacity: 0;
  }
}
.dhaly-ourwork-logo-holder:hover {
  .dhaly-ourwork-img {
    z-index: 0;
    opacity: 0;
  }
  .dhaly-ourwork-gif {
    z-index: 2;
    opacity: 1;
  }
}
@media (min-width: 1921px){

}

@media (min-width: 1800px) and (max-width: 1920px) {

}

@media (min-width: 1200px) and (max-width: 1799px) {

}
@media (min-width: 768px) and (max-width: 1199px) {

}
@media (max-width: 767px) {

}