@mixin clipPath($property) {
  -webkit-clip-path: $property;
  -o-clip-path: $property;
  -moz-clip-path: $property;
  -ms-clip-path: $property;
  clip-path: $property;
}
@mixin animation($property) {
  -webkit-animation: $property;
  -moz-animation: $property;
  -ms-animation:$property;
  -o-animation: $property;
  animation: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  -moz-transition: $property;;
  transition: $property;
}
#dhaly-cover-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.dhaly-cover-content-wrap {
  height: 100%;
  .dhaly-container-fluid {
    height: 100%;
  }
}
.cover-section-top-border {
  position: absolute;
  width: 0%;
  height: 18px;
  top: 0;
  left: 50%;
  background: #bb3939;
  @include clipPath(polygon(0 0, 100% 0%, 100% 100%, 5% 100%));
}
.cover-section-top-border.active {
  @include animation(growWidth 0.5s forwards);
}
@-webkit-keyframes growWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes growWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes growWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.cover-section-right-border {
   position: absolute;
   width: 18px;
   height: 0px;
   top: 0;
   right: 0;
   background: #bb3939;
   @include clipPath(polygon(0 0, 100% 0%, 100% 100%, 0 95%));
 }
.cover-section-right-border.active {
  @include animation(growHeight 0.5s forwards 0.6s);
}
@-webkit-keyframes growHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 458px;
  }
}
@-moz-keyframes growHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 458px;
  }
}
@keyframes growHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 458px;
  }
}
@media (min-width: 1921px){

}

@media (min-width: 1800px) and (max-width: 1920px) {

}

@media (min-width: 1200px) and (max-width: 1799px) {

}
@media (min-width: 768px) and (max-width: 1199px) {


}
@media (max-width: 767px) {

}